
#FICHIER A COPIER POUR AVOIR TES PROPRES VARIABLES D ENVIRONNEMENT
#A RENNOMER :  .env

# Configuration de la base de données
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cineconnect

# Configuration de l'application
PORT=3000
NODE_ENV=development

# JWT (pour l'authentification)
#JWT_SECRET=your-super-secret-key-change-me-in-production


